<div class="columns is-centered">
  <div class="column is-6">
    <div class="card outerdiv">
      <div class="">
        <h1 class="has-text-centered"><strong>New Workshop</strong></h1>
      </div>
      <div class="card-content">
        <div class="content">
          <%= render 'form', workshop: @workshop %>
          <%= link_to 'Back', workshops_path, class:"button is-dark my-3" %>
        </div>
      </div>
    </div>
  </div>
</div>
