<h1>New Workshop</h1>

<%= render 'form', workshop: @workshop %>

<%= link_to 'Back', workshops_path %>

<div class="columns">
  <div class="column">
    <div class="card">
      <div class="card-header"></div>
      <div class="card-content">
        <div class="content"></div>
      </div>
    </div>
  </div>
</div>
