<h1>New Curing</h1>

<%= render 'form', curing: @curing %>

<%= link_to 'Back', curings_path %>

<div class="columns">
  <div class="column">
    <div class="card">
      <div class="card-header"></div>
      <div class="card-content">
        <div class="content"></div>
      </div>
    </div>
  </div>
</div>
