<div class="columns">
  <div class="column">
    <div class="box">
      <h1>Editing Employee</h1>
      <%= render 'form', employee: @employee %>
      <br>
      <%= link_to 'Back', employees_path %>&nbsp;<%= link_to 'Show', @employee, class:'button is-link' %> |
    </div>
  </div>
</div>
