<div class="columns">
  <div class="column">
    <div class="box">
      <h1>New Employee</h1>
      <%= render 'form', employee: @employee %>
      <%= link_to 'Back', employees_path, class:'button is-dark' %>
    </div>
  </div>
</div>
