<div class="columns is-centered">
  <div class="column is-6">
    <div class="box outerdiv">
      <h1 class="has-text-centered"><strong>New Employee</strong></h1>
      <%= render 'form', employee: @employee %>
      <%= link_to 'Back', employees_path, class:'button is-dark' %>
    </div>
  </div>
</div>
