<h1>New Cash Requisition</h1>

<%= render 'form', cash_requisition: @cash_requisition %>

<%= link_to 'Back', cash_requisitions_path %>

<div class="columns">
  <div class="column">
    <div class="card">
      <div class="card-header"></div>
      <div class="card-content">
        <div class="content"></div>
      </div>
    </div>
  </div>
</div>
