.container {
  width: 40%;
  margin: 3rem auto;
  background-color: rgb(158, 152, 152);
  color: black;
  border-radius: 1.5rem;
  height: fit-content;
  box-shadow: 7px 7px 7px 7px rgba(160, 158, 158, 0.7);
}