<div class="columns">
  <div class="column">
    <div class="card">
      <div class="card-header">
        <h1>New Input Calibration</h1>
      </div>
      <div class="card-content">
        <div class="content">
          <%= render 'form', input_calibration: @input_calibration %>
          <%= link_to 'Back', input_calibrations_path, class:"button is-dark" %>
        </div>
      </div>
    </div>
  </div>
</div>
