.container {
  width: 80%;
  margin: auto;

  .navigation {
    width: 40%;
    margin: auto;
    height: fit-content;
    display: flex;
    flex-direction: row;
    background-color: #000000;
    justify-content: space-between;
    border-radius: 0.8rem;
    border: #7a3f07 solid;
    padding: 0.8rem;

    a {
      text-decoration: none;
      color: white;
      letter-spacing: 1px;
      font-size: 1rem;
      width: fit-content;
      margin: auto;
      font-weight: 900;
      text-shadow: 1px 1px gray;
    }
  }

  .note {
    width: fit-content;
    color: red;
    margin: auto;
  }

  .table {
    font-family: 'Times New Roman', Times, serif;
    width: 100%;
    background: whitesmoke;
    border: 1px solid rgb(133, 102, 102);
    border-radius: 10px;
    box-shadow: 5px 5px 5px 5px gray;

    tr {
      border-radius: inherit;
      th {
        width: inherit;
        color: #d36a08;
        font-weight: 900;
        font-size: 19px;
        padding: 0.75em 1em;
        text-align: center;
        background: rgb(9, 7, 32);
      }

      td {
        padding: 0.65em 1em;
        text-align: center;
        font-weight: 600;

        a {
          text-decoration: none;
          color: inherit;
        }
      }
    }

    tbody {
      border-radius: inherit;
    }

    tbody tr:nth-child(odd) {
      border-radius: inherit;
      background: rgb(253, 251, 251);
      box-shadow: 0 1px 0 rgba(255, 255, 255, .8) inset;
      color: black;
      border: 2px #000000;
      cursor: pointer;
    }

    tbody tr:nth-child(even) {
      border-radius: inherit;
      background: rgb(233, 231, 231);
      box-shadow: 0 1px 0 rgba(255, 255, 255, .8) inset;
      color: black;
      border: 2px #000000;
      cursor: pointer;

      &:hover {
        background-color: rgb(9, 7, 32);
        transition: all 0.1s ease-in-out;
        color: white !important;
        border: 2px #000000;
      }
    }
  }
}