.header {
  background-color: black;
  height: fit-content;
  width: 100%;
  display:  flex;
  justify-content: space-between;
  padding: 0.5rem;

  .welcome {
    width: 89%;
    margin: auto;
    font-size: large;
    font-weight: 900;
    text-shadow: 1px 1px gray;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .start {
      width: 25%;
    }

    .Wend {
      width: 75%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      a {
        cursor: pointer;
        text-decoration: none;
        color: white;
        text-shadow: inherit;
      }
    }
  }

  .end {
    width: 10%;
    margin: auto;
  }
}