.container {
  width:  100%;
  .card {
    width: 70%;
    margin: auto;
    display: flex;
    flex-direction: column;
    height: fit-content;
    box-shadow: 7px 7px 7px 7px rgba(160, 158, 158, 0.7);
  border-radius: 1.5rem;
  background-color: rgb(158, 152, 152);

    .main{
      width: 100%;

    }

    .footer{
      width: 100%;

      .actions{
        width: 60%;
        display: flex;
        justify-content: space-between;

      button {
          margin: auto;
          padding: 0.4rem 1.2rem;
          background-color: aqua;
          color: white;
          font-size: 1.2rem;
          letter-spacing: 1px;
          border-radius: 0.5rem;
          text-shadow: 1px 1px gray;
          font-weight: 900;
          width: fit-content;
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;
      }
      }
    }
  }
}