<h1>New Delivery</h1>

<%= render 'form', delivery: @delivery %>

<%= link_to 'Back', deliveries_path %>

<div class="columns">
  <div class="column">
    <div class="card">
      <div class="card-header"></div>
      <div class="card-content">
        <div class="content"></div>
      </div>
    </div>
  </div>
</div>
