<div class="columns">
  <div class="column">
    <div class="card">
      <div class="card-header">
        <h1>New Rainfall</h1>
      </div>
      <div class="card-content">
        <div class="content">
          <%= render 'form', rainfall: @rainfall %>
          <%= link_to 'Back', rainfalls_path, class:"button is-dark my-3" %>
        </div>
      </div>
    </div>
  </div>
</div>
