<h1>New Seedbed</h1>

<%= render 'form', seedbed: @seedbed %>

<%= link_to 'Back', seedbeds_path %>

<div class="columns">
  <div class="column">
    <div class="card">
      <div class="card-header"></div>
      <div class="card-content">
        <div class="content"></div>
      </div>
    </div>
  </div>
</div>
