<main class="main">
    <div class="todo-container">
      <div class="todo">
        <div class="heading">
          <p>Today's Tasks</p>
          <i class="fas fa-sync-alt"></i>
        </div>
          <form class="inputs">
            <input type="text" placeholder="Add items to your list " class="text-input" />
            <button class='form-btn'>
              <i class="fas fa-check"></i>
            </button>
          </form>
        <div class="tasks-div"></div>
        <div>
          <input type='submit' value='Clear all completed' class="delete-btn"/>
        </div>
      </div>
    </div>
  </main>