<div class="outerdiv">
  <div class="columns">
    <div class="column is-4">
      <div class="box">
        <ul>
          <li>iiiiiiiiiiiiiiiiii</li>
          <li>iiiiiiiiiiiiiiiiii</li>
          <li>iiiiiiiiiiiiiiiiii</li>
          <li>iiiiiiiiiiiiiiiiii</li>
        </ul>
      </div>
    </div>
    <div class="column is-4">
      <div class="orange box-height">
        <div class="dark">
          <span>ACCOUNTING</span>
        </div>
        <ul class="has-text-white">
          <li><%= link_to 'Cash Requests', cash_requisitions_path, class:"has-text-white" %></li>
          <li><%= link_to 'Cashflows', cashflows_path, class:"has-text-white" %></li>
          <li>iiiiiiiiiiiiiiiiii</li>
          <li>iiiiiiiiiiiiiiiiii</li>
        </ul>
      </div>
    </div>
    <div class="column is-4">
      <div class="box">
        <ul>
          <li>iiiiiiiiiiiiiiiiii</li>
          <li>iiiiiiiiiiiiiiiiii</li>
          <li>iiiiiiiiiiiiiiiiii</li>
          <li>iiiiiiiiiiiiiiiiii</li>
          <li>iiiiiiiiiiiiiiiiii</li>
        </ul>
      </div>
    </div>
  </div>
  
</div>