<div class="columns is-centered">
  <div class="column is-6">
    <div class="card outerdiv">
        <h1 class="has-text-centered"><strong>......New Tobacco Sale......</strong></h1>

      <div class="card-content">
        <div class="content">
          <%= render 'form', tobacco_sale: @tobacco_sale %>
          <%= link_to 'Back', tobacco_sales_path, class:"button is-dark my-2" %>
        </div>
      </div>
    </div>
  </div>
</div>
