<div class="columns">
  <div class="column">
    <div class="card">
      <div class="card-header">
        <h1>New Tobacco Sale</h1>
      </div>
      <div class="card-content">
        <div class="content">
          <%= render 'form', tobacco_sale: @tobacco_sale %>
          <%= link_to 'Back', tobacco_sales_path, class:"button is-dark" %>
        </div>
      </div>
    </div>
  </div>
</div>
