<div class="columns is-centered">
  <div class="column is-6">
    <div class="card outerdiv">
      <div class="">
        <h1 class='has-text-centered'><strong>New Cashflow</strong></h1>
      </div>
      <div class="card-content">
        <div class="content">
          <%= render 'form', cashflow: @cashflow %>
          <%= link_to 'Back', cashflows_path, class:"button is-dark" %>
        </div>
      </div>
    </div>
  </div>
</div>
