<div class="columns">
  <div class="column">
    <div class="card">
      <div class="card-header">
        <h1>New Cashflow</h1>
      </div>
      <div class="card-content">
        <div class="content">
          <%= render 'form', cashflow: @cashflow %>
          <%= link_to 'Back', cashflows_path, class:"button is-dark" %>
        </div>
      </div>
    </div>
  </div>
</div>
