
<div class='columns is-centered'>
  <div class='column is-6'>
    <div class='box outerdiv'>
      <h1>New Farm Name</h1>

      <%= render 'form', farm_name: @farm_name %>

      <%= link_to 'Back', farm_names_path, class:'button is-dark' %>
    </div>
  </div>
</div>