.container {
  width: 80%;
  margin: auto;

  .table {
      font-family: 'Times New Roman', Times, serif;
      width: 100%;
      background: rgb(177, 174, 174);
      border: 1px solid rgb(133, 102, 102);
      border-radius: 10px;
      box-shadow: 5px 10px rgb(233, 232, 232);
  
      tr {
        th {
          width: inherit;
          color: #7a3f07;
          font-weight: 900;
          font-size: 19px;
          padding: 0.75em 1em;
          text-align: center;
        }
  
        td {
          padding: 0.65em 1em;
          text-align: center;
          font-weight: 600;
  
          a {
            text-decoration: none;
            color: inherit;
          }
        }
      }
  
      tbody tr:nth-child(odd) {
        background: rgb(253, 251, 251);
        box-shadow: 0 1px 0 rgba(255, 255, 255, .8) inset;
        color: black;
      }
  
      tbody tr:nth-child(even) {
        background: rgb(233, 231, 231);
        box-shadow: 0 1px 0 rgba(255, 255, 255, .8) inset;
  
        &:hover {
          background-color: #a5a6a7;
          transition: all 0.1s ease-in-out;
          color: #000000 !important;
        }
      }
    }
}