<div class="columns is-centered">
  <div class="column is-6">
    <div class="card outerdiv">
      <div class="">
        <h1 class='has-text-centered'><strong>New Irriagtion Schedule</strong></h1>
      </div>
      <div class="card-content">
        <div class="content">
          <%= render 'form', irriagtion_schedule: @irriagtion_schedule %>
          <%= link_to 'Back', irriagtion_schedules_path, class:"button is-dark"  %>
        </div>
      </div>
    </div>
  </div>
</div>
