<h1>New Set Season</h1>

<%= render 'form', set_season: @set_season %>

<%= link_to 'Back', set_seasons_path %>

<div class="columns">
  <div class="column">
    <div class="card">
      <div class="card-header"></div>
      <div class="card-content">
        <div class="content"></div>
      </div>
    </div>
  </div>
</div>
