<h1>Editing Barn And Slate Record</h1>

<%= render 'form', barn_and_slate_record: @barn_and_slate_record %>

<%= link_to 'Show', @barn_and_slate_record %> |
<%= link_to 'Back', barn_and_slate_records_path %>
