<h1>New Land Name</h1>

<%= render 'form', land_name: @land_name %>

<%= link_to 'Back', land_names_path %>

<div class="columns">
  <div class="column">
    <div class="card">
      <div class="card-header"></div>
      <div class="card-content">
        <div class="content"></div>
      </div>
    </div>
  </div>
</div>
