/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import 'bulma';

.side-bar {
  background-color: rgba(3, 3, 78, 0.993);
}

.hidden {
  display: none;
}

.overflow-y {
  height: 90vh;
  overflow-y: scroll;
}

.column-sec {
  margin-top: 3%;
  border: gray solid 1px;
  border-radius: 3%;
}

.input-wage {
  height: inherit !important;
  width: inherit !important;
  margin: 0 !important;
}

body {
  font-family: 'Times New Roman', Times, serif;
  font-weight: 400;
  font-size: 15px;
}

.box-height  {
  height: 30vh;
  border-radius: 12px;
  .dark {
    background-color: rgb(17, 16, 16);
    color: white;
    text-align: center;
    font-weight: 900;
    font-size: 18px;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
  }
  ul {
    li {
      font-size: 15px !important;
      font-weight: 900;
    }
  }
}

.box-height-middle  {
  height: 20vh;
  border-radius: 12px;
  .dark {
    background-color: rgb(17, 16, 16);
    color: white;
    text-align: center;
    font-weight: 900;
    font-size: 18px;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
  }
  ul {
    li {
      font-size: 15px !important;
      font-weight: 900;
    }
  }
}

.outerdiv {
  border: 3px solid gold;
  box-shadow: 10px goldenrod;
}

.box-height-last  {
  height: 15vh;
  border-radius: 12px;
  .dark {
    background-color: rgb(17, 16, 16);
    color: white;
    text-align: center;
    font-weight: 900;
    font-size: 18px;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
  }
  ul {
    li {
      font-size: 15px !important;
      font-weight: 900;
    }
  }
}

.orange {
  background-color: rgba(39, 29, 2, 0.993);
}

.btn-orange {
  background-color: #6e2f03;
  color: #ffffff;
}

// tr {
//   th {
//     background-color: gray;
//   }
//   &:hover {
//     background-color: rgb(177, 168, 168);
//     color: white;
//   }
// }

.blink {
  font-size: 19px;
  font-weight: 900;
  color: hsl(0, 95%, 22%);
  animation: blinker 30s infinite;
}

@keyframes blinker {
  from { opacity: 1.0;}
  50% { opacity: 0.0; }
  to {opacity: 1.0;}
}

form {
  width: 100%;
  .field {
    display: flex;
    flex-direction: column;
    width: 100%;
    .labels {
      font-weight: 900;
    }
    .control {
      width: inherit;
      .inputs {
        height: 5vh;
        width: 100%;
        font-size: 20px;
        border: 1px solid rgb(224, 222, 222);
        border-radius: 3px;
        &:hover {
          border: 1px solid rgb(224, 222, 222) !important;
          border-radius: 3px;
          background-color: rgb(240, 238, 238);
        }
      }
    }
  }
}

// ########**********TABLE STYLES***********###########
.tables {
  font-family: 'Times New Roman', Times, serif;
  width: 100%;
  background: #012b39;
  border-radius: 5px;
  border-collapse: collapse;
  tr {
    th {
      width: inherit;
      border-bottom-left-radius: 5px !important;
      border-bottom-right-radius: 5px !important;
      background: #000a0e;
      border-bottom: 1px solid #364043;
      color: #e2b842;
      font-weight: 600;
      padding: 0.25em 1em;
      text-align: center;
    }
    td {
      color: #fff;
      font-weight: 400;
      padding: 0.65em 1em;
      text-align: center;
    }
  }

  tbody tr {
    transition: background 0.25s ease;
    &:hover{
      background: #014055;
    }
  }
}

// #######******TABLE STYLES END*******########

$fa-font-path: '@fortawesome/fontawesome-free/webfonts';
@import '@fortawesome/fontawesome-free/scss/fontawesome';
@import '@fortawesome/fontawesome-free/scss/solid';
@import '@fortawesome/fontawesome-free/scss/regular';
@import '@fortawesome/fontawesome-free/scss/brands';
@import '@fortawesome/fontawesome-free/scss/v4-shims';