.table {
  font-family: 'Times New Roman', Times, serif;
  width: 100%;
  background: #b1aeae;
  border: 1px solid #856666;
  border-radius: 10px;
  -webkit-box-shadow: 5px 10px #e9e8e8;
          box-shadow: 5px 10px #e9e8e8;
}

.table tr th {
  width: inherit;
  color: #7a3f07;
  font-weight: 900;
  font-size: 19px;
  padding: 0.75em 1em;
  text-align: center;
}

.table tr td {
  padding: 0.65em 1em;
  text-align: center;
  font-weight: 600;
}

.table tr td a {
  text-decoration: none;
  color: inherit;
}

.table tbody tr:nth-child(odd) {
  background: #fdfbfb;
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.8) inset;
          box-shadow: 0 1px 0 rgba(255, 255, 255, 0.8) inset;
  color: black;
}

.table tbody tr:nth-child(even) {
  background: #e9e7e7;
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.8) inset;
          box-shadow: 0 1px 0 rgba(255, 255, 255, 0.8) inset;
}

.table tbody tr:nth-child(even):hover {
  background-color: #a5a6a7;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  color: #000000 !important;
}

.table-b-p-e {
  font-family: 'Times New Roman', Times, serif;
  width: 100%;
  background: #012b39;
  border: 1px solid #856666;
  border-radius: 10px;
  -webkit-box-shadow: 5px 10px #e9e8e8;
          box-shadow: 5px 10px #e9e8e8;
}

.table-b-p-e tr th {
  width: inherit;
  color: #e2b842;
  font-weight: 900;
  font-size: 19px;
  padding: 0.75em 1em;
  text-align: center;
}

.table-b-p-e tr td {
  color: #fff;
  padding: 0.65em 1em;
  text-align: center;
  font-weight: 600;
}

.table-b-p-e tr td a {
  text-decoration: none;
  color: inherit;
}

.table-b-p-e tbody tr:nth-child(odd) {
  background-color: #012b39;
}

.table-b-p-e tbody tr:nth-child(odd):hover {
  background-color: #e4a9a9;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  color: #000000;
}

.table-b-p-e tbody tr:nth-child(even) {
  background: #e4a9a9;
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.8) inset;
          box-shadow: 0 1px 0 rgba(255, 255, 255, 0.8) inset;
}

.table-b-p-e tbody tr:nth-child(even):hover {
  background-color: #012b39;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  color: #000000 !important;
}

.table-b-p-o {
  font-family: 'Times New Roman', Times, serif;
  width: 100%;
  background: #012b39;
  border: 1px solid #856666;
  border-radius: 10px;
  -webkit-box-shadow: 5px 10px #e9e8e8;
          box-shadow: 5px 10px #e9e8e8;
}

.table-b-p-o tr th {
  width: inherit;
  color: #e2b842;
  font-weight: 900;
  font-size: 19px;
  padding: 0.75em 1em;
  text-align: center;
}

.table-b-p-o tr td {
  color: #fff;
  padding: 0.65em 1em;
  text-align: center;
  font-weight: 600;
}

.table-b-p-o tr td a {
  text-decoration: none;
  color: inherit;
}

.table-b-p-o tbody tr:nth-child(odd) {
  background: #e4a9a9;
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.8) inset;
          box-shadow: 0 1px 0 rgba(255, 255, 255, 0.8) inset;
}

.table-b-p-o tbody tr:nth-child(odd):hover {
  background-color: #012b39;
  color: #000000 !important;
}

.table-b-p-o tbody tr:nth-child(even):hover {
  background-color: #e4a9a9;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  color: #e4a9a9;
}

/* ##### White - GRAY tables ##### */
.table-b-w-o {
  font-family: 'Times New Roman', Times, serif;
  width: 100%;
  background: #727575;
  border: 1px solid #856666;
  border-radius: 10px;
  -webkit-box-shadow: 5px 10px #e9e8e8;
          box-shadow: 5px 10px #e9e8e8;
}

.table-b-w-o :not(:first-child):hover {
  -webkit-transform: scale(1, 1.4);
          transform: scale(1, 1.4);
  -webkit-transition: -webkit-transform 0.7s ease-in-out;
  transition: -webkit-transform 0.7s ease-in-out;
  transition: transform 0.7s ease-in-out;
  transition: transform 0.7s ease-in-out, -webkit-transform 0.7s ease-in-out;
}

.table-b-w-o tr th {
  width: inherit;
  color: #e2b842;
  font-weight: 900;
  font-size: 19px;
  padding: 0.75em 1em;
  text-align: center;
}

.table-b-w-o tr td {
  padding: 0.65em 1em;
  text-align: center;
  font-weight: 600;
}

.table-b-w-o tr td a {
  text-decoration: none;
  color: inherit;
}

.table-b-w-o tbody tr:nth-child(odd) {
  background: #727575;
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.8) inset;
          box-shadow: 0 1px 0 rgba(255, 255, 255, 0.8) inset;
}

.table-b-w-o tbody tr:nth-child(odd):hover {
  background-color: #012b39;
  color: #000000 !important;
}

.table-b-w-o tbody tr:nth-child(even) {
  background: #cdd1d1;
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.8) inset;
          box-shadow: 0 1px 0 rgba(255, 255, 255, 0.8) inset;
}

.table-b-w-o tbody tr:nth-child(even):hover {
  background-color: #e4a9a9;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  color: black;
}

.table-b-w-e {
  font-family: 'Times New Roman', Times, serif;
  width: 100%;
  background: #727575;
  border: 1px solid #856666;
  border-radius: 10px;
  -webkit-box-shadow: 5px 10px #e9e8e8;
          box-shadow: 5px 10px #e9e8e8;
}

.table-b-w-e tr th {
  width: inherit;
  color: #e2b842;
  font-weight: 900;
  font-size: 19px;
  padding: 0.75em 1em;
  text-align: center;
}

.table-b-w-e tr td {
  padding: 0.65em 1em;
  text-align: center;
  font-weight: 600;
}

.table-b-w-e tr td a {
  text-decoration: none;
  color: inherit;
}

.table-b-w-e tbody tr:nth-child(odd) {
  background: #cdd1d1;
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.8) inset;
          box-shadow: 0 1px 0 rgba(255, 255, 255, 0.8) inset;
}

.table-b-w-e tbody tr:nth-child(odd):hover {
  background-color: #e4a9a9;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  color: black;
}

.table-b-w-e tbody tr:nth-child(even) {
  background: #727575;
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.8) inset;
          box-shadow: 0 1px 0 rgba(255, 255, 255, 0.8) inset;
}

.table-b-w-e tbody tr:nth-child(even):hover {
  background-color: #012b39;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  color: #000000 !important;
}

/* ##### Pink - GRAY tables ##### */
.table-p-g-o {
  font-family: 'Times New Roman', Times, serif;
  width: 100%;
  background: #8f0b63;
  border: 1px solid #856666;
  border-radius: 10px;
  -webkit-box-shadow: 5px 10px #e9e8e8;
          box-shadow: 5px 10px #e9e8e8;
}

.table-p-g-o :not(:first-child):hover {
  -webkit-transform: scale(1, 1.4);
          transform: scale(1, 1.4);
  -webkit-transition: -webkit-transform 0.7s ease-in-out;
  transition: -webkit-transform 0.7s ease-in-out;
  transition: transform 0.7s ease-in-out;
  transition: transform 0.7s ease-in-out, -webkit-transform 0.7s ease-in-out;
}

.table-p-g-o tr th {
  width: inherit;
  color: #f1e8cc;
  font-weight: 900;
  font-size: 19px;
  padding: 0.75em 1em;
  text-shadow: 2px 2px #615f5f;
  text-align: center;
}

.table-p-g-o tr td {
  padding: 0.65em 1em;
  text-align: center;
  font-weight: 600;
}

.table-p-g-o tr td a {
  text-decoration: none;
  color: inherit;
}

.table-p-g-o tbody tr:nth-child(odd) {
  background: #cdd1d1;
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.8) inset;
          box-shadow: 0 1px 0 rgba(255, 255, 255, 0.8) inset;
}

.table-p-g-o tbody tr:nth-child(odd):hover {
  background-color: #e4a9a9;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  color: black;
}

.table-p-g-o tbody tr:nth-child(even) {
  background: #ec0ba1;
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.8) inset;
          box-shadow: 0 1px 0 rgba(255, 255, 255, 0.8) inset;
}

.table-p-g-o tbody tr:nth-child(even):hover {
  background-color: #012b39;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  color: #000000 !important;
}

.table-p-g-e {
  font-family: 'Times New Roman', Times, serif;
  width: 100%;
  background: #8f0b63;
  border: 1px solid #856666;
  border-radius: 10px;
  -webkit-box-shadow: 5px 10px #e9e8e8;
          box-shadow: 5px 10px #e9e8e8;
}

.table-p-g-e tr th {
  width: inherit;
  color: #f1e8cc;
  font-weight: 900;
  font-size: 19px;
  padding: 0.75em 1em;
  text-shadow: 2px 2px #615f5f;
  text-align: center;
}

.table-p-g-e tr td {
  padding: 0.65em 1em;
  text-align: center;
  font-weight: 600;
}

.table-p-g-e tr td a {
  text-decoration: none;
  color: inherit;
}

.table-p-g-e tbody tr:nth-child(odd) {
  background: #ec0ba1;
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.8) inset;
          box-shadow: 0 1px 0 rgba(255, 255, 255, 0.8) inset;
}

.table-p-g-e tbody tr:nth-child(odd):hover {
  background-color: #012b39;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  color: #000000 !important;
}

.table-p-g-e tbody tr:nth-child(even) {
  background: #cdd1d1;
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.8) inset;
          box-shadow: 0 1px 0 rgba(255, 255, 255, 0.8) inset;
}

.table-p-g-e tbody tr:nth-child(even):hover {
  background-color: #e4a9a9;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  color: black;
}

/* ##### ORANGE - GRAY tables ##### */
.table-o-g-o {
  font-family: 'Times New Roman', Times, serif;
  width: 100%;
  background: #eb6c05;
  border: 1px solid #856666;
  border-radius: 10px;
  -webkit-box-shadow: 5px 10px #e9e8e8;
          box-shadow: 5px 10px #e9e8e8;
}

.table-o-g-o :not(:first-child):hover {
  -webkit-transform: scale(1, 1.4);
          transform: scale(1, 1.4);
  -webkit-transition: -webkit-transform 0.7s ease-in-out;
  transition: -webkit-transform 0.7s ease-in-out;
  transition: transform 0.7s ease-in-out;
  transition: transform 0.7s ease-in-out, -webkit-transform 0.7s ease-in-out;
}

.table-o-g-o tr th {
  width: inherit;
  color: #f1e8cc;
  font-weight: 900;
  font-size: 19px;
  padding: 0.75em 1em;
  text-shadow: 2px 2px #615f5f;
  text-align: center;
}

.table-o-g-o tr td {
  padding: 0.65em 1em;
  text-align: center;
  font-weight: 600;
}

.table-o-g-o tr td a {
  text-decoration: none;
  color: inherit;
}

.table-o-g-o tbody tr:nth-child(odd) {
  background: #eb6c05;
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.8) inset;
          box-shadow: 0 1px 0 rgba(255, 255, 255, 0.8) inset;
}

.table-o-g-o tbody tr:nth-child(odd):hover {
  background-color: #e4a9a9;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  color: black;
}

.table-o-g-o tbody tr:nth-child(even) {
  background: #bdbaba;
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.8) inset;
          box-shadow: 0 1px 0 rgba(255, 255, 255, 0.8) inset;
}

.table-o-g-o tbody tr:nth-child(even):hover {
  background-color: #012b39;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  color: #000000 !important;
}

.table-o-g-e {
  font-family: 'Times New Roman', Times, serif;
  width: 100%;
  background: #eb6c05;
  border: 1px solid #856666;
  border-radius: 10px;
  -webkit-box-shadow: 5px 10px #e9e8e8;
          box-shadow: 5px 10px #e9e8e8;
}

.table-o-g-e tr th {
  width: inherit;
  color: #f1e8cc;
  font-weight: 900;
  font-size: 19px;
  padding: 0.75em 1em;
  text-shadow: 2px 2px #615f5f;
  text-align: center;
}

.table-o-g-e tr td {
  padding: 0.65em 1em;
  text-align: center;
  font-weight: 600;
}

.table-o-g-e tr td a {
  text-decoration: none;
  color: inherit;
}

.table-o-g-e tbody tr:nth-child(odd) {
  background: #bdbaba;
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.8) inset;
          box-shadow: 0 1px 0 rgba(255, 255, 255, 0.8) inset;
}

.table-o-g-e tbody tr:nth-child(odd):hover {
  background-color: #e4a9a9;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  color: black;
}

.table-o-g-e tbody tr:nth-child(even) {
  background: #eb6c05;
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.8) inset;
          box-shadow: 0 1px 0 rgba(255, 255, 255, 0.8) inset;
}

.table-o-g-e tbody tr:nth-child(even):hover {
  background-color: #012b39;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  color: #000000 !important;
}

/* #### ORANGE - PINK TABLES #### */
.table-o-p-e {
  font-family: 'Times New Roman', Times, serif;
  width: 100%;
  background: #eb6c05;
  border: 1px solid #856666;
  border-radius: 10px;
  -webkit-box-shadow: 5px 10px #e9e8e8;
          box-shadow: 5px 10px #e9e8e8;
}

.table-o-p-e tr th {
  width: inherit;
  color: #f1e8cc;
  font-weight: 900;
  font-size: 19px;
  padding: 0.75em 1em;
  text-shadow: 2px 2px #615f5f;
  text-align: center;
}

.table-o-p-e tr td {
  padding: 0.65em 1em;
  text-align: center;
  font-weight: 600;
}

.table-o-p-e tr td a {
  text-decoration: none;
  color: inherit;
}

.table-o-p-e tbody tr:nth-child(odd) {
  background: #ce0b83;
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.8) inset;
          box-shadow: 0 1px 0 rgba(255, 255, 255, 0.8) inset;
}

.table-o-p-e tbody tr:nth-child(odd):hover {
  background-color: #e4a9a9;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  color: black;
}

.table-o-p-e tbody tr:nth-child(even) {
  background: #eb6c05;
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.8) inset;
          box-shadow: 0 1px 0 rgba(255, 255, 255, 0.8) inset;
}

.table-o-p-e tbody tr:nth-child(even):hover {
  background-color: #012b39;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  color: #000000 !important;
}

.table-o-p-o {
  font-family: 'Times New Roman', Times, serif;
  width: 100%;
  background: #eb6c05;
  border: 1px solid #856666;
  border-radius: 10px;
  -webkit-box-shadow: 5px 10px #e9e8e8;
          box-shadow: 5px 10px #e9e8e8;
}

.table-o-p-o tr th {
  width: inherit;
  color: #f1e8cc;
  font-weight: 900;
  font-size: 19px;
  padding: 0.75em 1em;
  text-shadow: 2px 2px #615f5f;
  text-align: center;
}

.table-o-p-o tr td {
  padding: 0.65em 1em;
  text-align: center;
  font-weight: 600;
}

.table-o-p-o tr td a {
  text-decoration: none;
  color: inherit;
}

.table-o-p-o tbody tr:nth-child(odd) {
  background: #eb6c05;
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.8) inset;
          box-shadow: 0 1px 0 rgba(255, 255, 255, 0.8) inset;
}

.table-o-p-o tbody tr:nth-child(odd):hover {
  background-color: #e4a9a9;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  color: black;
}

.table-o-p-o tbody tr:nth-child(even) {
  background: #ce0b83;
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.8) inset;
          box-shadow: 0 1px 0 rgba(255, 255, 255, 0.8) inset;
}

.table-o-p-o tbody tr:nth-child(even):hover {
  background-color: #012b39;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  color: #000000 !important;
}
/*# sourceMappingURL=tables.css.map */