* {
  font-family: "Times New Roman", Times, serif;
}

body {
  padding: 0;
  margin: 0;
  background-color: rgb(229, 226, 226);
}

.main {
  max-width: 100vw;
  height: 100vh;
  background-color: rgb(229, 226, 226);
  padding: 0;
  margin: 0;

  .todo-container {
    max-width: 60%;
    max-height: fit-content;
    margin: 5% auto auto auto;
    border: 1px solid rgb(187, 185, 185);
    background-color: white;
    box-shadow: 3px 6px rgb(185, 184, 184);

    .todo {
      width: 100%;
      padding: 0;
      margin: 0;

      .heading {
        width: 100%;
        border-bottom: 1px solid rgb(177, 174, 174);
        display: grid;
        grid-template-columns: 87% 13%;

        p {
          grid-column: 1 / span 1;
          font-size: 1.5rem;
          padding-left: 1rem;
        }

        i {
          grid-column: 2 / span 1;
          font-size: 1.5rem;
          padding-left: 1rem;
          margin: auto;
        }
      }

      .inputs {
        display: grid;
        grid-template-columns: 93% 7%;
        width: 100%;
        border: 1px solid rgb(165, 161, 161);
        height: fit-content;
        padding-top: 1rem;
        padding-bottom: 1rem;

        .text-input {
          border-top-style: hidden;
          border-right-style: hidden;
          border-left-style: hidden;
          border-bottom-style: hidden;
          grid-column: 1 / span 1;
          left: 0;
          width: 90%;
          font-size: 1.5rem;
          font-style: oblique;
          padding-left: 1rem;
        }

        .text-input:focus {
          border-top-style: hidden;
          border-right-style: hidden;
          border-left-style: hidden;
          border-bottom-style: hidden;
          outline: white;
        }

        button {
          border-top-style: hidden;
          border-right-style: hidden;
          border-left-style: hidden;
          border-bottom-style: hidden;
          grid-column: 2 / span 1;
          right: 0;
          width: 10%;
          font-size: 1.5rem;
          background-color: white;
        }
      }

      .tasks-div:first-child {
        border-top: 1px solid black !important;
      }

      .tasks-div {
        margin-top: 0.5rem;
        width: 100%;
        height: fit-content;

        .todo-body {
          width: 100%;
          height: fit-content;

          .over {
            background-color: rgb(175, 173, 173);
          }

          .is-dragging {
            opacity: 0.5;
          }

          .d-todo {
            width: 100%;
            display: grid;
            grid-template-columns: 5% 88% 7%;
            padding-top: 1rem;
            padding-bottom: 1rem;
            border-bottom: 1px solid rgb(177, 174, 174);

            input[type="checkbox"] {
              grid-column: 1 / span 1;
              width: 100%;
              height: 80%;
              padding: auto;
            }

            input[type="checkbox"]:checked ~ p {
              text-decoration: line-through;
              color: red;
              font-style: oblique;
              font-weight: 550;
            }

            p {
              grid-column: 2 / span 1;
              font-size: 1.5rem;
              margin: auto 0 auto 2rem;
            }

            p:focus {
              outline: white;
              border-top-style: hidden;
              border-right-style: hidden;
              border-left-style: hidden;
              border-bottom-style: hidden;
            }

            section {
              grid-column: 3 / span 1;

              i {
                margin: auto;
              }
            }
          }
        }
      }

      div {
        width: 100%;
        height: fit-content;

        input[type="submit"] {
          width: 100%;
          padding-top: 1rem;
          padding-bottom: 1rem;
          font-size: 1.5rem;
          background-color: rgb(182, 179, 179);
        }
      }
    }
  }
}

@media only screen and (max-width: 520px) {
  * {
    font-family: "Times New Roman", Times, serif;
  }

  body {
    padding: 0;
    margin: 0;
    background-color: rgb(229, 226, 226);
  }

  .main {
    max-width: 100vw;
    height: 100vh;
    background-color: rgb(229, 226, 226);
    padding: 0;
    margin: 0;

    .todo-container {
      max-width: 95%;
      max-height: fit-content;
      margin: 5% auto auto auto;
      border: 1px solid rgb(187, 185, 185);
      background-color: white;
      box-shadow: 3px 6px rgb(185, 184, 184);

      .todo {
        width: 100%;
        padding: 0;
        margin: 0;

        .todo-body {
          width: 100%;

          .d-todo {
            display: grid;
            grid-template-columns: 5% 70% 20%;
            padding-top: 1rem;
            padding-bottom: 1rem;
            border-bottom: 1px solid rgb(177, 174, 174);

            input[type="checkbox"] {
              grid-column: 1 / span 1;
              width: 100%;
              height: 80%;
              padding: auto;
            }

            input[type="checkbox"]:checked ~ p {
              text-decoration: line-through;
              font-style: oblique;
              font-weight: 900;
            }

            p {
              grid-column: 2 / span 1;
              font-size: 1.5rem;
              margin: auto 0 auto 2rem;
            }

            section {
              grid-column: 3 / span 1;

              i {
                margin: auto 80% auto auto;
              }
            }
          }
        }

        .heading {
          width: 100%;
          border-bottom: 1px solid rgb(177, 174, 174);
          display: grid;
          grid-template-columns: 84% 16%;

          p {
            grid-column: 1 / span 1;
            font-size: 1.5rem;
            padding-left: 1rem;
          }

          i {
            grid-column: 2 / span 1;
            font-size: 1.5rem;
            padding-left: 1rem;
            margin: auto;
          }
        }

        .inputs {
          display: grid;
          grid-template-columns: 87% 13%;
          width: 100%;
          border: 1px solid rgb(165, 161, 161);
          height: fit-content;
          padding-top: 1rem;
          padding-bottom: 1rem;

          .text-input {
            border-top-style: hidden;
            border-right-style: hidden;
            border-left-style: hidden;
            border-bottom-style: hidden;
            grid-column: 1 / span 1;
            left: 0;
            width: 90%;
            font-size: 1.5rem;
            font-style: oblique;
            padding-left: 1rem;
          }

          .text-input:focus {
            border-top-style: hidden;
            border-right-style: hidden;
            border-left-style: hidden;
            border-bottom-style: hidden;
            outline: white;
          }

          button {
            border-top-style: hidden;
            border-right-style: hidden;
            border-left-style: hidden;
            border-bottom-style: hidden;
            grid-column: 2 / span 1;
            right: 0;
            width: 10%;
            font-size: 1.5rem;
            background-color: white;
          }
        }

        div {
          width: 100%;
          height: fit-content;

          input[type="submit"] {
            width: 100%;
            padding-top: 1rem;
            padding-bottom: 1rem;
            font-size: 1.5rem;
            background-color: rgb(182, 179, 179);
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 920px) {
  * {
    font-family: "Times New Roman", Times, serif;
  }

  body {
    padding: 0;
    margin: 0;
    background-color: rgb(229, 226, 226);
  }

  .main {
    max-width: 100vw;
    height: 100vh;
    background-color: rgb(229, 226, 226);
    padding: 0;
    margin: 0;

    .todo-container {
      max-width: 80%;
      max-height: fit-content;
      margin: 5% auto auto auto;
      border: 1px solid rgb(187, 185, 185);
      background-color: white;
      box-shadow: 3px 6px rgb(185, 184, 184);

      .todo {
        width: 100%;
        padding: 0;
        margin: 0;

        .todo-body {
          width: 100%;

          .d-todo {
            display: grid;
            grid-template-columns: 5% 85% 10%;
            padding-top: 1rem;
            padding-bottom: 1rem;
            border-bottom: 1px solid rgb(177, 174, 174);

            input[type="checkbox"] {
              grid-column: 1 / span 1;
              width: 100%;
              height: 80%;
              padding: auto;
            }

            input[type="checkbox"]:checked ~ p {
              text-decoration: line-through;
              font-style: oblique;
              font-weight: 900;
            }

            p {
              grid-column: 2 / span 1;
              font-size: 1.5rem;
              margin: auto 0 auto 2rem;
            }

            section {
              grid-column: 3 / span 1;

              i {
                margin: auto;
              }
            }
          }
        }

        .heading {
          width: 100%;
          border-bottom: 1px solid rgb(177, 174, 174);
          display: grid;
          grid-template-columns: 85% 15%;

          p {
            grid-column: 1 / span 1;
            font-size: 1.5rem;
            padding-left: 1rem;
          }

          i {
            grid-column: 2 / span 1;
            font-size: 1.5rem;
            padding-left: 1rem;
            margin: auto;
          }
        }

        .inputs {
          display: grid;
          grid-template-columns: 90% 10%;
          width: 100%;
          border: 1px solid rgb(165, 161, 161);
          height: fit-content;
          padding-top: 1rem;
          padding-bottom: 1rem;

          .text-input {
            border-top-style: hidden;
            border-right-style: hidden;
            border-left-style: hidden;
            border-bottom-style: hidden;
            grid-column: 1 / span 1;
            left: 0;
            width: 90%;
            font-size: 1.5rem;
            font-style: oblique;
            padding-left: 1rem;
          }

          .text-input:focus {
            border-top-style: hidden;
            border-right-style: hidden;
            border-left-style: hidden;
            border-bottom-style: hidden;
            outline: white;
          }

          button {
            border-top-style: hidden;
            border-right-style: hidden;
            border-left-style: hidden;
            border-bottom-style: hidden;
            grid-column: 2 / span 1;
            right: 0;
            width: 10%;
            font-size: 1.5rem;
            background-color: white;
          }
        }

        div {
          width: 100%;
          height: fit-content;

          input[type="submit"] {
            width: 100%;
            padding-top: 1rem;
            padding-bottom: 1rem;
            font-size: 1.5rem;
            background-color: rgb(182, 179, 179);
          }
        }
      }
    }
  }
}

.checked {
  background-color: orange;
}
