<h1>New Weather</h1>

<%= render 'form', weather: @weather %>

<%= link_to 'Back', weathers_path %>

<div class="columns">
  <div class="column">
    <div class="card">
      <div class="card-header"></div>
      <div class="card-content">
        <div class="content"></div>
      </div>
    </div>
  </div>
</div>
