<div class="columns is-centered">
  <div class="column is-6">
    <div class="card outerdiv">
      <header class="">
        <h1 class="has-text-centered"><strong> New Activity</strong></h1>
      </header>
      <div class="card-content">
        <div class="content">
          <%= render 'form', activity: @activity %>
          <%= link_to 'Back', activities_path, class:"button is-dark my-3" %>
        </div>
      </div>
    </div>
  </div>
</div>
