<h1>New Equipment Service</h1>

<%= render 'form', equipment_service: @equipment_service %>

<%= link_to 'Back', equipment_services_path %>

<div class="columns">
  <div class="column">
    <div class="card">
      <div class="card-header"></div>
      <div class="card-content">
        <div class="content"></div>
      </div>
    </div>
  </div>
</div>
