<div class="columns">
  <div class="column">
    <div class="card">
      <div class="card-header">
        <h1>New Equipment Service</h1>
      </div>
      <div class="card-content">
        <div class="content">
          <%= render 'form', equipment_service: @equipment_service %>
          <%= link_to 'Back', equipment_services_path, class:"button is-dark" %>
        </div>
      </div>
    </div>
  </div>
</div>
