<h1 class='has-background-white'>SeasonalInputsUsageToDate#index</h1>
<p>Find me in app/views/seasonal_inputs_usage_to_date/index.html.erb</p>
<table class="table">
  <tr>
    <th>Description</th>
    <th>Total Amount</th>
    <th>Unit Price</th>
    <th>Unit</th>
    <th>Total Quantity</th>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
</table>