<div class="page-navigation">
  <div class="rows">
    <div class="row1">
      <span>
        <i class="fas fa-cog fa-3x"></i> <span>User Account</span>
      </span>
    </div>
    <div class="row2">
      <span>
        <i class="far fa-money-bill-alt fa-3x"></i> <span>ACCOUNTING</span>
      </span>
    </div>
    <div class="row3">
      <span>
        <i class="fas fa-warehouse fa-3x"></i> <span>WAREHOUSING</span>
      </span>
    </div>
    <div class="row4">
      <span>
        <i class="fab fa-pagelines fa-3x"></i> <span>LAND(S)</span>
      </span>
    </div>
    <div class="row5">
      <span>
        <i class="fas fa-hiking fa-3x"></i> <span>DAILY ACTIVITIES</span>
      </span>
    </div>
    <div class="row6">
      <span>
        <i class="fas fa-funnel-dollar fa-3x"></i> <span>CROP SALES</span>
      </span>
    </div>
    <div class="row7">
      <span>
        <i class="fab fa-adversal fa-3x"></i> <span>Advertisements</span>
      </span>
    </div>
    <div class="row8">
      <span>
        <i class="fas fa-seedling fa-3x"></i> <span>SEEDBEB PLANTING</span>
      </span>
    </div>
    <div class="row9">
      <span>
        <i class="fas fa-laptop-house fa-3x"></i> <span>Properties</span>
      </span>
    </div>
    <div class="row10">
      <span>
        <i class="fas fa-layer-group fa-3x"></i> <span>LIVESTOCK & HORTICULTURE</span>
      </span>
    </div>
    <div class="row11">
      <span>
        <i class="fas fa-cogs fa-3x"></i> <span>OTHERS</span>
      </span>
    </div>
    <div class="row12">
      <div class="section">
        <label for="control1">
          <i class='fas fa-angle-double-right fa-3x'></i>
        </label>

        <label for="control2">
          <i class='fas fa-angle-double-left fa-3x'></i>
        </label>
      </div>
    </div>
  </div>
</div>