<div class="page-container">
  <div class="rows">
    <div class="row1">1</div>
    <div class="row2">2</div>
    <div class="row3">3</div>
    <div class="row4">4</div>
    <div class="row5">5</div>
    <div class="row6">6</div>
    <div class="row7">7</div>
    <div class="row8">8</div>
    <div class="row9">9<i class='fas fa-angle-double-left fa-2x'></i></div>
    <div class="row10">10</div>
    <div class="row11">11</div>
    <div class="row12">12</div>
  </div>
</div>